<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        <br>
                        <a href="{% url 'list_projects' %}">My projects</a>
                        <br>
                        <a href="{% url 'logout' %}">Logout</a>
                        <br>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                        <br>
                        <a href="{% url 'signup' %}">Signup</a>
                    {% endif %}
                </ul>
                <main>
                    <div>
                        <h1>Create a new task</h1>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button>Create</button>
                        </form>
                    </div>
                </main>
            </body>
        </html>
