<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        <br>
                        <a href="{% url 'list_projects' %}">My projects</a>
                        <br>
                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                        <br>
                        <a href="{% url 'signup' %}">Signup</a>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <h1>{{ project_details.name }}</h1>
            <a href="{% url 'create_task' %}">Create a new task</a>
            <p>{{ project_details.description }}</p>
            <h2>Tasks</h2>
            {% if task_details %}
                {% for tasks in task_details %}
                    <table>
                        <thead>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </thead>
                        <tbody>
                            <td>{{ tasks.name }}</td>
                            <td>{{ tasks.assignee }}</td>
                            <td>{{ tasks.start_date }}</td>
                            <td>{{ tasks.due_date }}</td>
                            <td>{{ tasks.is_completed|yesno }}</td>
                        </tbody>
                    </table>
                {% endfor %}
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </main>
    </body>
</html>
